
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#draw {
    border: 2px solid #000;
}

.clickablePath, .leader-line-line-path {
	pointer-events: auto !important;
	cursor: pointer;
}
