/* Elements that can be connected with arcs */
.vertex {
	height: 45px;
	width:  45px;
	background-color: #2196F3;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	cursor: move;
	color: #fff;
	text-shadow: 1px 1px #000;
	border: 2px solid #606060;
	transform: translate(-50%, -50%);
	/* Centering of children */
  	display: flex;
	justify-content: center;
	align-items: center;
	transition: border 0.1s;
}

.vertex0 {
	background-color: #bb5454;
	border-radius: 5%;
}

.vertex1 {
	background-color: #2196F3;
	border-radius: 50%;
}

.vertex:hover {
	border: 4px solid #fc6907;
}

/* arrows/connectors */
.edge {

}